<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/wwwroot/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/wwwroot/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/wwwroot/css/public.css" media="all">
    <link href="~/Content/mzhstyle.css" rel="stylesheet" />
    <style>

        .layui-top-box {
            padding: 40px 20px 20px 20px;
            color: #fff
        }

        .panel {
            margin-bottom: 17px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 3px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05)
        }

        .panel-body {
            padding: 15px
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            color: inherit
        }

        .label {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
            margin-top: .3em;
        }

        .layui-red {
            color: red
        }

        .main_btn > p {
            height: 40px;
        }
    </style>
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline" style="margin-left:30px">
                        <a class="layui-btn layui-btn-warm addbox">新增包厢</a>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-normal refresh">刷新</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div id="boxlist-div">

            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/wwwroot/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/wwwroot/js/lay-config.js"></script>
    <script src="~/wwwroot/js/lay-module/layuimini/miniTab.js" charset="utf-8"></script>
    <script src="~/Scripts/mzhconfig.js"></script>
    <script>
        RefreshBoxlist();

        layui.use(['form', 'miniTab', 'layer'], function () {
            var $ = layui.jquery,
                layer = layui.layer;
            $(".addbox").click(function () {
                var index = layer.open({
                    title: '添加包厢',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '50%'],
                    content: '/Box/BoxDetail?boxid=0&code=0&name=0&state=0&price=0&bookprice=0',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            })

            $(".refresh").click(function () {
                showloading(true);
                RefreshBoxlist();
                showloading(false);
            })
        });

        function RefreshBoxlist() {
            $("#boxlist-div").load(domain + '/Box/BoxList');
        }

        

    </script>
</body>

</html>