
@{
    ViewBag.Title = "Test";
}
<style>
    .coupon-box {
        width: 200px;
        height: 50px;
        background: radial-gradient(circle at 125px 20px,transparent 0,transparent 5px,#FFE4B5 5px);
        background-position: 20px 30px;
        border-radius: 5px;
    }

    .coupon-box-line {
        position:absolute;
        margin-left:144px;
        margin-top:5px;
        width: 2px;
        background: linear-gradient(to bottom, #000000, #000000 5px, transparent 5px, transparent);
        height:40px;
        /*background-color:aqua;*/
    }

    

</style>

<h2>Test</h2>
<div class="coupon-box">
    <div class="coupon-box-line"></div>
</div>


