<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="brnshopEntities" connectionString="metadata=res://*/mzhshop.csdl|res://*/mzhshop.ssdl|res://*/mzhshop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=47.107.69.129;initial catalog=brnshop;user id=sa;password = mzh123..;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="filedomain" value="http://shopapi.boiledchicken.top/File/GetUrl?objectname="/>
    <add key="ossendpoint" value="oss-cn-beijing.aliyuncs.com"/>
    <add key="ossaccessKeyId" value="LTAI4FzST8rehSkwn5R1zUsF"/>
    <add key="ossaccessKeySecret" value="Es7IBIbHQbDPl4dFBJ00AYvnnQGjZq"/>
    <add key="ossbucketName" value="boiledchicken"/>
    <!--小程序appid-->
    <add key="appid" value="wxf1f4b95fb1108482"/>
    <!--小程序密钥-->
    <add key="appsecret" value="1d833bdbb9ad6531ab43c6a281d008e2"/>
    <!--商户号-->
    <add key="mch_id" value="1601974588"/>
    <add key="apisecret" value="qingxiangshuizhuji147258369zxcvb"/>
    <!--支付结果通知地址-->
    <add key="notify_url" value="http://shopapi.boiledchicken.top/api/Order/PayNotify"/>
    <!--退款通知地址-->
    <add key="refund_notify_url" value=""/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>