<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="brnshopEntities"
      connectionString="metadata=res://*/mzhshop.csdl|res://*/mzhshop.ssdl|res://*/mzhshop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=47.107.69.129;initial catalog=brnshop;user id=sa;password = mzh123..;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="filedomain" value="http://shopapi.boiledchicken.top/File/GetUrl?objectname="/>
    <add key="ossendpoint" value="oss-cn-beijing.aliyuncs.com"/>
    <add key="ossaccessKeyId" value="LTAI4FzST8rehSkwn5R1zUsF"/>
    <add key="ossaccessKeySecret" value="Es7IBIbHQbDPl4dFBJ00AYvnnQGjZq"/>
    <add key="ossbucketName" value="boiledchicken"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>